[core]
	editor = vim
	excludesFile = ~/.gitignore_global
[user]
	name = tksgi
	email = tetsu.kasugaib@sun-asterisk.com
	mail = =
	name = =
	name = TetsuGuest
	name = tksgi
[color]
	ui = true
[alias]
	co = checkout
  br = branch
  st = status
[init]
	tmplatedir = .git_tmp

