[core]
	excludesFile = ~/.gitignore_global
  pager = delta
[user]
	name = tksgi
	email = 23550705+tksgi@users.noreply.github.com
[color]
	ui = true
[alias]
	co = checkout
  br = branch
  st = status
	delete-merged-branches = !git branch --merged | grep -vE '^\\*|master$|develop$' | xargs -I % git branch -d %
[init]
	tmplatedir = .git_tmp
[diff]
  tool = nvimdiff
[difftool "nvimdiff"]
  cmd = "nvim -R -d -c \"wincmd l\" -d \"$LOCAL\" \"$REMOTE\""
[mergetool "nvimdiff"]
  cmd = "nvim -d -c \"4wincmd w | wincmd J\" \"$LOCAL\" \"$BASE\" \"$REMOTE\"  \"$MERGED\""
[url ":git@github.com:"]
	insteadOf = htps://github.com/
#[url "https://github.com/"]
#	insteadOf = git@github.com:
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[interactive]
    diffFilter = delta --color-only
[delta]
  features = side-by-side line-numbers decorations
[credential]
	helper = /mnt/c/Program\\ Files/Git/mingw64/bin/git-credential-manager.exe
