[core]
	excludesFile = ~/.gitignore_global
  pager = delta --plus-color="#012800" --minus-color="#340001" --theme='Monokai Extended'
[user]
	name = tksgi
	email = 23550705+tksgi@users.noreply.github.com
	name = tksgi
[color]
	ui = true
[alias]
	co = checkout
  br = branch
  st = status
	delete-merged-branches = !git branch --merged | grep -vE '^\\*|master$|develop$' | xargs -I % git branch -d %
[init]
	tmplatedir = .git_tmp
[diff]
  tool = nvimdiff
[difftool "nvimdiff"]
  cmd = "nvim -R -d -c \"wincmd l\" -d \"$LOCAL\" \"$REMOTE\""
[mergetool "nvimdiff"]
  cmd = "nvim -d -c \"4wincmd w | wincmd J\" \"$LOCAL\" \"$BASE\" \"$REMOTE\"  \"$MERGED\""
[web]
    browser = open
[browser "chrome"]
    cmd = open -a 'Firefox.app'
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[interactive]
    diffFilter = delta --color-only
